* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.navbar {
  border-bottom: 1px solid #e2e2c1;
  background-color: #E85C0D;
}

.navbar ul {
  margin: 0;
  list-style: none;
  display: flex;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s;
}

.navbar a:hover {
  color: #eb973e;
}

.navbar-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  padding: 15px;
 
}

.bar {
  width: 30px;
  height: 2.3px;
  background-color: rgb(255, 255, 255);
  margin: 2.9px 0;
  border-radius: 10px;
}

main {
  margin: 0;
  padding: 0;
}

.title-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-image: url("./Images/Background.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  position: relative;
  margin: 0;
}

.title-page::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.title-page h1 {
  margin: 0;
  font-size: 5rem;
  z-index: 2;
}

.title-page p {
  font-size: 1.2rem;
  margin: 10px 0 0 0;
  z-index: 2;
  text-align: center;
  padding: 0 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.reservation-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  color: white;
  background-color: #ff6347;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  z-index: 3;
}

.reservation-button:hover {
  background-color: #e5533d;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: #E85C0D;
  padding: 40px;
}

.menu-list {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.menu-list ul {
  list-style: none;
  background-color: rgba(211, 208, 199, 0.8);
  text-align: center;
  padding: 30px;
  border-radius: 10px;
  font-size: 1.5rem;
  margin: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.menu-list ul:hover {
  transform: scale(1.05);
}

.category-title {
  font-size: 2rem;
  font-weight: bold;
  color: rgb(231, 223, 211);
  margin-bottom: 10px;
}

.menu > p {
  font-size: 2.5rem;
  font-weight: 300;
  margin: 20px 0;
}

.cta {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid black;
  padding: 20px;
  background-color: rgba(231, 92, 13, 0.8);
}

.cta h2 {
  font-size: 48px;
  color: white;
}

.cta p {
  font-size: 20px;
  color: white;
  text-align: center;
  margin-bottom: 20px;
}

footer {
  display: flex;
  flex-direction: column;
  height: 20vh;
  justify-content: center;
  align-items: center;
  background-color: #d3d0c78e;
  gap: 20px;
}

footer ul {
  display: flex;
  list-style: none;
  gap: 20px;
  justify-content: center;
  padding: 0;
}

footer a {
  color: black;
  text-decoration: none;
}

footer a:hover {
  color: #e5533d;
}

.navbar ul.active {
  display: flex;
  flex-direction: column;
}

@media (max-width: 1200px) {
  .title-page h1 {
    font-size: 4rem;
  }
  
  .menu-list {
    flex-direction: column;
  }
  
  .menu-list ul {
    font-size: 1.2rem;
    margin: 10px;
  }
}

@media (max-width: 800px) {
  .title-page h1 {
    font-size: 3rem;
  }
  
  .title-page p {
    font-size: 1rem;
  }
  
  .reservation-button {
    padding: 8px 16px;
    font-size: 0.9rem;
  }
  
  .navbar-toggle {
    display: flex;
    justify-content: flex-end;
  }
  
  .navbar ul {
    display: none;
    flex-direction: column;
    align-items: center;
  }
}
